/* Red Panda Theme */

.logo.leptos:hover {
  filter: drop-shadow(0 0 2em #DB8758);
}

:root {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #3D1F16; /* Brownish text color */
  background-color: #FCE7D2; /* Light beige background */
  background-image: url('public/red-panda.svg'); /* Red panda-themed background image */
  background-size: contain; /* Scale the background to fit the container without repetition */
  background-repeat: no-repeat; /* Make the background appear only once */
  background-position: center; /* Center the background image */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #B13D14); /* Red panda-themed shadow on Tauri logo */
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #B13D14; /* Red panda-themed link color */
  text-decoration: none;
}

a:hover {
  color: #DB8758; /* Lighter color on hover */
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #311d17; /* Brownish text color */
  background-color: #FCE7D2; /* Light beige background */
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #B13D14; /* Red panda-themed border color on hover */
}
button:active {
  border-color: #B13D14; /* Red panda-themed border color on active */
  background-color: #DB8758; /* Lighter color on active */
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #FCE7D2; /* Light text color for dark background */
    background-color: #3D1F16; /* Dark brown background */
  }

  a:hover {
    color: #B13D14; /* Red panda-themed link color on dark background */
  }

  input,
  button {
    color: #FCE7D2; /* Light text color on dark background */
    background-color: #3D1F16; /* Dark brown background */
  }
  button:active {
    background-color: #63433A; /* Darker color on active */
  }
}
